/**
 * Body CSS
 */
html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */
.mui-appbar {
  background-color: grey;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#content-wrapper {

}

.slideshow-img {
  margin-left: 5%;
  margin-right: 5%;
}


/**
  You must use rounded corner on at least two pictures or
  elements and a drop shadow on an image or an element.
**/
.border {
  border-color: grey !important;
  border-width: medium !important;
  border-radius: 25px !important;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

/**
 * Footer CSS
 */
#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/**
* Portfolio NAV
*/
#portfolio-nav {
  padding-top: 0.8em;
  text-align: center;
}

#portfolio-nav a {
  margin-left: 50px;
  color: white;
}

#portfolio-nav a:hover {
  color: #770000;
  text-decoration: none;
}

#portfolio-nav a:active {
  color: white;
}
